<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Obrázek</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

        body {
            font-family: 'Frank Ruhl Libre', serif;
        }
        
        .fallingStar {
            animation: falling 5s infinite
        }

        @keyframes falling {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(90px, 70px);
            }
        }

        @keyframes pulsating {
            0% {
                opacity: 40%;
            }

            50% {
                opacity: 100%;
            }

            100% {
                opacity: 40%;
            }
        }

    </style>
</head>
<body class="bg-secondary bg-gradient d-flex justify-content-center p-5">
    <header style="height: fit-content;">
        <nav class="navbar navbar-dark">
            <a class="navbar-brand" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20px" height="20px">
                    <path style="fill:white"
                        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                </svg>
                Zpět
            </a>
        </nav>
    </header>
    <svg width="1500px" height="700px" viewBox="0 0 208.52792 125.41233" version="1.1" id="svg5"
        inkscape:export-filename="falling_star.svg" inkscape:export-xdpi="243.61238" inkscape:export-ydpi="243.61238"
        inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)" sodipodi:docname="nightsky.svg"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <sodipodi:namedview id="namedview7" pagecolor="#ffffff" bordercolor="#999999" borderopacity="1"
            inkscape:showpageshadow="0" inkscape:pageopacity="0" inkscape:pagecheckerboard="0" inkscape:deskcolor="#d1d1d1"
            inkscape:document-units="mm" showgrid="false" inkscape:zoom="0.71624579" inkscape:cx="62.827594"
            inkscape:cy="497.73416" inkscape:window-width="1920" inkscape:window-height="991" inkscape:window-x="-9"
            inkscape:window-y="-9" inkscape:window-maximized="1" inkscape:current-layer="layer1" />
        <defs id="defs2">
            <linearGradient inkscape:collect="always" id="linearGradient2585">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2581" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2583" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2579">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2575" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2577" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2573">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2569" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2571" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2567">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2563" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2565" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2561">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2557" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2559" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2555">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2551" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2553" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2549">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2545" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2547" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient2527">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop2523" />
                <stop style="stop-color:#ffff00;stop-opacity:1" offset="1" id="stop2525" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient1295">
                <stop style="stop-color:#806600;stop-opacity:1;" offset="0" id="stop1291" />
                <stop style="stop-color:#ffdd55;stop-opacity:1" offset="1" id="stop1293" />
            </linearGradient>
            <linearGradient inkscape:collect="always" id="linearGradient1233">
                <stop style="stop-color:#808080;stop-opacity:1;" offset="0" id="stop1229" />
                <stop style="stop-color:#808080;stop-opacity:0;" offset="1" id="stop1231" />
            </linearGradient>
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1233" id="linearGradient1235"
                x1="102.69403" y1="90.688431" x2="102.87873" y2="102.69403" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1297"
                x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1332"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1355"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1378"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1401"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1424"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1447"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1470"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1493"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1516"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1539"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1562"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1585"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1608"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1631"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1677"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1700"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1723"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1746"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1769"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1792"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1815"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1838"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1861"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1884"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1907"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2527" id="linearGradient2529"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2585" id="linearGradient2531" x1="70.63076"
                y1="114.21258" x2="-11.262042" y2="54.022869" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2579" id="linearGradient2533"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2573" id="linearGradient2535"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2567" id="linearGradient2537"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-0.55410448,0.18470149)" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2561" id="linearGradient2539"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2555" id="linearGradient2541"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0.55410448,-0.18470149)" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient2549" id="linearGradient2543"
                x1="58.735073" y1="102.87874" x2="19.393656" y2="81.638062" gradientUnits="userSpaceOnUse" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-0"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-1"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-07"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-7"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-04"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-072"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-2"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-3"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-4"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
            <linearGradient inkscape:collect="always" xlink:href="#linearGradient1295" id="linearGradient1654-4-5"
                gradientUnits="userSpaceOnUse" x1="8.1978683" y1="89.909546" x2="8.7349033" y2="96.444489" />
        </defs>
        <g inkscape:label="Vrstva 1" inkscape:groupmode="layer" id="layer1" transform="translate(-0.36940298,-78.498129)">
            <rect style="fill:#280b0b;stroke-width:0.264583" id="rect447" width="208.52798" height="125.41232"
                x="0.36940297" y="78.498131" />
            <path style="fill:#280b0b;stroke-width:0.999999"
                d="M 1.3961688,533.68551 V 297.0349 H 395.4648 789.53344 V 533.68551 770.33612 H 395.4648 1.3961688 Z"
                id="path449" transform="scale(0.26458333)" />
            <path style="fill:#280b0b;stroke-width:0.999999"
                d="M 1.3961688,533.68551 V 297.0349 H 395.4648 789.53344 V 533.68551 770.33612 H 395.4648 1.3961688 Z"
                id="path451" transform="scale(0.26458333)" />
            <path style="fill:#000000;stroke-width:0.999999"
                d="M 1.3961688,533.68551 V 297.0349 H 395.4648 789.53344 V 533.68551 770.33612 H 395.4648 1.3961688 Z"
                id="path453" transform="scale(0.26458333)" />
            <path style="fill:#000000;stroke-width:0.999999"
                d="M 1.3961688,533.68551 V 297.0349 H 395.4648 789.53344 V 533.68551 770.33612 H 395.4648 1.3961688 Z"
                id="path524" transform="scale(0.26458333)" />
            <ellipse style="fill:url(#linearGradient1235);fill-opacity:1;stroke-width:0.264583" id="path686" cx="102.69403"
                cy="100.93936" rx="12.744403" ry="12.467351" />
            <circle style="fill:#333333;stroke-width:0.264583" id="path1008-3" cx="107.49627" cy="96.044777"
                r="1.4776119" />
            <ellipse style="fill:#333333;stroke-width:0.264582" id="path1008-2" cx="101.58582" cy="95.213623" rx="1.4776119"
                ry="1.3852612" />
            <rect style="fill:#000000;stroke-width:0.264583" id="rect948" width="36.755596" height="13.667911" x="85.332085"
                y="101.40112" />
            <ellipse style="fill:#666666;stroke-width:0.264583" id="path952" cx="97.337685" cy="93.274254" rx="1.2929103"
                ry="1.4776119" />
            <circle style="fill:#333333;stroke-width:0.264583" id="path1008" cx="94.382462" cy="98.999992" r="1.4776119" />
            <circle style="fill:#333333;stroke-width:0.264583" id="path1008-0" cx="111.00559" cy="99.369392"
                r="1.4776119" />
            <ellipse style="fill:#333333;stroke-width:0.264583" id="path1008-7" cx="102.60168" cy="98.907646"
                rx="0.83115667" ry="1.0158582" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1297);fill-opacity:1;stroke-width:0.278274"
                id="path1289" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625" sodipodi:cy="91.796638"
                sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693" sodipodi:arg2="1.3305755"
                inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,2.9930577,11.173246)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1332);fill-opacity:1;stroke-width:0.278274"
                id="path1289-2" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,14.214044,17.340197)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1355);fill-opacity:1;stroke-width:0.278274"
                id="path1289-9" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,144.2439,17.524899)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1378);fill-opacity:1;stroke-width:0.278274"
                id="path1289-8" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,61.312924,75.521168)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1401);fill-opacity:1;stroke-width:0.278274"
                id="path1289-81" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,40.811059,42.090197)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1424);fill-opacity:1;stroke-width:0.278274"
                id="path1289-94" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,8.4882986,43.198406)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1447);fill-opacity:1;stroke-width:0.278274"
                id="path1289-96" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,4.4248653,74.59766)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1470);fill-opacity:1;stroke-width:0.278274"
                id="path1289-947" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,67.592776,10.321541)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1493);fill-opacity:1;stroke-width:0.278274"
                id="path1289-99" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,151.07785,54.6499)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1516);fill-opacity:1;stroke-width:0.278274"
                id="path1289-1" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,24.003223,67.763705)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1539);fill-opacity:1;stroke-width:0.278274"
                id="path1289-5" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,140.18046,62.407362)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1562);fill-opacity:1;stroke-width:0.278274"
                id="path1289-98" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,135.93233,48.924153)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1585);fill-opacity:1;stroke-width:0.278274"
                id="path1289-0" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,155.51069,24.358855)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1608);fill-opacity:1;stroke-width:0.278274"
                id="path1289-7" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,165.66927,11.42975)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1631);fill-opacity:1;stroke-width:0.278274"
                id="path1289-03" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,183.77002,27.868183)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,169.548,47.631242)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-0);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-8" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,163.82225,38.026765)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-1);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-9" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,182.66181,14.569675)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-07);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-87" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,182.1077,37.47266)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-7);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-88" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,179.70658,63.515571)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-04);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-889" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,151.07785,46.338332)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-072);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-3" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,34.90061,57.789825)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-2);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-5" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,3.50136,53.172287)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-3);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-0" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,3.68606,31.562213)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-4);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-2" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,19.755089,38.396168)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1654-4-5);fill-opacity:1;stroke-width:0.278274"
                id="path1289-3-2-7" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,22.34091,56.312213)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1677);fill-opacity:1;stroke-width:0.278274"
                id="path1289-93" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,150.52375,34.702139)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1700);fill-opacity:1;stroke-width:0.278274"
                id="path1289-80" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,136.48643,26.021168)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1723);fill-opacity:1;stroke-width:0.278274"
                id="path1289-34" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,168.8092,26.944675)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1746);fill-opacity:1;stroke-width:0.278274"
                id="path1289-4" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,43.950985,73.304751)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1769);fill-opacity:1;stroke-width:0.278274"
                id="path1289-49" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,109.52001,32.485719)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1792);fill-opacity:1;stroke-width:0.278274"
                id="path1289-6" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,60.943523,63.51557)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1815);fill-opacity:1;stroke-width:0.278274"
                id="path1289-08" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,27.697254,45.045421)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1838);fill-opacity:1;stroke-width:0.278274"
                id="path1289-25" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,13.290537,28.606989)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1861);fill-opacity:1;stroke-width:0.278274"
                id="path1289-62" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,12.921134,59.082735)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1884);fill-opacity:1;stroke-width:0.278274"
                id="path1289-38" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,130.57599,39.134974)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient1907);fill-opacity:1;stroke-width:0.278274"
                id="path1289-16" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="7.7574625"
                sodipodi:cy="91.796638" sodipodi:r1="3.1453531" sodipodi:r2="1.5726767" sodipodi:arg1="0.70225693"
                sodipodi:arg2="1.3305755" inkscape:rounded="0" inkscape:randomized="0"
                d="M 10.158582,93.828355 8.1316292,93.324156 6.5671721,94.708074 6.4203304,92.624521 4.6207032,91.564288 6.5569027,90.78078 7.009129,88.741603 8.3526078,90.340921 10.431726,90.140873 9.3258423,91.912814 Z"
                inkscape:transform-center-x="0.23859786" inkscape:transform-center-y="-0.062909849"
                transform="matrix(1.0317847,0,0,0.87617371,47.09091,58.713332)" />
            <path sodipodi:type="star" style="fill:url(#linearGradient2531);fill-opacity:1;stroke-width:0.595002"
                id="path2285" inkscape:flatsided="false" sodipodi:sides="5" sodipodi:cx="62.244404" sodipodi:cy="106.94216"
                sodipodi:r1="17.792803" sodipodi:r2="8.8964024" sodipodi:arg1="0.72664234" sodipodi:arg2="1.3549609"
                inkscape:rounded="0" inkscape:randomized="0" class="fallingStar"
                d="m 75.54291,118.76306 -11.393221,-3.13091 -9.03816,7.6105 -0.543028,-11.8031 -10.030963,-6.24403 11.057612,-4.16381 2.838684,-11.469519 7.377008,9.229725 11.785365,-0.844528 -6.498369,9.868092 z"
                inkscape:transform-center-x="0.5788458" inkscape:transform-center-y="-0.21711218"
                transform="matrix(0.49157554,0,0,0.40225095,24.306287,57.783849)" />
            <path style="fill:url(#linearGradient2533);fill-opacity:1;stroke-width:0.264583" id="path2507"
                class="fallingStar"
                d="m 52.199449,89.154801 c -1.88577,-0.954818 -3.823726,-1.799519 -5.751623,-2.664786 -2.269366,-1.013391 -4.558292,-1.982811 -6.853984,-2.934909 -1.644327,-0.67056 -3.287807,-1.351748 -4.971052,-1.919274 -0.619646,-0.218176 -1.245113,-0.413049 -1.878005,-0.58815 0,0 3.049823,2.348071 3.049823,2.348071 v 0 c 0.617255,0.181681 1.230736,0.374142 1.839106,0.584062 1.648732,0.580112 3.277147,1.217089 4.891733,1.886228 2.271239,0.937829 4.539006,1.885487 6.781024,2.891562 2.011022,0.90736 4.03251,1.800006 5.962066,2.874119 0,0 -3.069088,-2.476923 -3.069088,-2.476923 z" />
            <path style="fill:url(#linearGradient2537);fill-opacity:1;stroke-width:0.264583" id="path2509"
                class="fallingStar"
                d="m 51.026948,96.493287 c -0.945197,-0.624639 -1.867786,-1.27771 -2.834531,-1.869461 -2.407375,-1.63589 -5.034029,-2.818389 -7.63033,-4.089395 -3.540106,-1.733044 0.904735,0.418944 -2.678665,-1.311113 -2.258274,-1.075296 -4.538517,-2.103636 -6.838424,-3.086531 -1.844929,-0.774581 -3.658012,-1.619388 -5.524585,-2.34182 -1.124371,-0.387752 -0.576162,-0.196596 -1.644808,-0.572947 0,0 2.996504,2.334308 2.996504,2.334308 v 0 c 1.048192,0.360352 0.509929,0.171712 1.61439,0.567081 1.850601,0.728898 3.654025,1.566762 5.490421,2.329995 2.266871,0.968309 4.519533,1.970646 6.743769,3.033657 1.746991,0.849373 3.509166,1.679149 5.235501,2.569874 0.356378,0.183878 1.400207,0.781685 1.058391,0.571976 -0.777007,-0.476702 -1.576546,-0.915659 -2.364822,-1.373489 0.927164,0.555154 1.812375,1.163664 2.688768,1.79469 0,0 3.688421,1.443175 3.688421,1.443175 z" />
            <path style="fill:url(#linearGradient2543);fill-opacity:1;stroke-width:0.264583" id="path2511"
                class="fallingStar"
                d="m 40.093561,97.023345 c -2.262799,-1.764813 -4.837798,-3.092516 -7.313832,-4.515808 -1.404096,-0.770694 -0.820256,-0.441807 -2.2181,-1.243081 -0.358198,-0.205325 -1.431383,-0.823746 -1.073973,-0.617056 0.711586,0.411517 2.848557,1.642239 2.136508,1.231527 -4.422706,-2.551033 -2.769936,-1.621158 -5.120304,-2.935616 -1.960734,-1.058577 -3.993029,-1.982007 -6.03614,-2.869202 -0.975841,-0.407146 -1.968739,-0.766837 -2.968679,-1.109049 0,0 2.963315,2.307288 2.963315,2.307288 v 0 c 0.98599,0.343549 1.966516,0.701138 2.926306,1.113793 2.036591,0.897662 4.066589,1.820545 6.014912,2.899331 0.320487,0.180252 1.277758,0.728257 0.961459,0.540755 -0.729549,-0.432483 -2.936782,-1.698173 -2.201349,-1.275773 2.494438,1.432687 4.973489,2.893682 7.492775,4.282826 -4.126916,-2.405531 -2.07544,-1.226685 -1.207024,-0.681487 0.586446,0.368178 1.139494,0.771461 1.696921,1.180489 0.09511,0.06979 0.191063,0.138406 0.286594,0.207608 0,0 3.660611,1.483455 3.660611,1.483455 z" />
            <path style="fill:url(#linearGradient2539);fill-opacity:1;stroke-width:0.264583" id="path2515"
                class="fallingStar"
                d="m 47.34076,97.800511 c -0.502409,-0.488027 -1.094393,-0.872464 -1.699098,-1.22079 -1.30973,-0.754447 -2.625762,-1.497905 -3.938643,-2.246855 0,0 2.968897,2.391132 2.968897,2.391132 v 0 c -0.866079,-0.506585 -1.73255,-1.012494 -2.598235,-1.519754 -0.200453,-0.117459 0.404429,0.228992 0.602544,0.350356 0.26942,0.165045 0.548261,0.351841 0.797586,0.549402 0.07176,0.05687 0.13802,0.120346 0.207029,0.18052 0,0 3.65992,1.515989 3.65992,1.515989 z" />
            <path style="fill:url(#linearGradient2535);fill-opacity:1;stroke-width:0.264583" id="path2517"
                class="fallingStar"
                d="m 47.99227,89.910027 c 1.012555,0.585526 4.069107,2.308159 3.037671,1.756572 -1.301851,-0.696199 -2.559309,-1.472602 -3.84927,-2.190594 -0.316029,-0.175901 -1.311539,-0.620234 -1.588217,-0.746408 -1.392065,-0.634831 -0.743421,-0.337405 -2.192401,-1.006661 -1.644523,-0.737396 -0.815538,-0.372684 -2.487107,-1.093782 0,0 2.871523,2.271633 2.871523,2.271633 v 0 c 1.676884,0.732901 0.843116,0.360569 2.501371,1.116836 0.355195,0.165772 1.863421,0.86883 2.243897,1.049562 0.307308,0.145976 0.614899,0.291468 0.919326,0.443357 0.24656,0.123018 0.969468,0.523489 0.733457,0.381281 -0.357915,-0.215662 -8.560062,-4.960255 0.885304,0.506473 0,0 -3.075554,-2.488269 -3.075554,-2.488269 z" />
            <path style="fill:url(#linearGradient2541);fill-opacity:1;stroke-width:0.264583" id="path2519"
                class="fallingStar"
                d="m 38.254591,86.871268 c -1.024398,-0.591118 -2.730138,-1.744374 -4.155242,-2.336371 -1.059251,-0.440018 -2.152269,-0.791466 -3.238121,-1.158108 -1.610707,-0.537262 -3.238696,-1.019344 -4.866603,-1.500793 -0.187245,-0.05966 -0.374491,-0.119314 -0.561736,-0.178969 0,0 3.051007,2.35872 3.051007,2.35872 v 0 c 0.183883,0.05433 0.367766,0.108673 0.551651,0.16301 1.607635,0.452951 3.208737,0.930278 4.791205,1.465432 0.883695,0.305186 1.768236,0.604851 2.630953,0.9666 0.224234,0.09402 0.446952,0.191867 0.666898,0.295526 0.165936,0.0782 0.647644,0.344218 0.490326,0.24987 -1.005906,-0.603266 -2.024693,-1.184796 -3.037041,-1.777196 0,0 3.676703,1.452279 3.676703,1.452279 z" />
            <path style="fill:url(#linearGradient2529);fill-opacity:1;stroke-width:0.264583" id="path2521"
                class="fallingStar"
                d="m 44.175185,102.39448 c -0.620083,-0.59045 -1.350828,-1.05819 -2.088174,-1.48759 -4.179845,-2.434131 -3.026378,-1.805825 -5.732542,-3.22373 -1.781042,-0.925412 -3.566287,-1.842696 -5.350073,-2.762795 0,0 2.743081,2.199182 2.743081,2.199182 v 0 c 1.807794,0.925515 3.615515,1.851433 5.404138,2.81373 0.500489,0.272963 1.975583,1.135443 1.50146,0.818893 -0.667623,-0.44574 -1.382958,-0.815784 -2.083607,-1.207568 -0.260395,-0.145606 0.510268,0.309337 0.762416,0.468798 0.288718,0.18258 0.677553,0.4363 0.954828,0.65632 0.08272,0.0656 0.15711,0.14115 0.235667,0.21172 0,0 3.652806,1.51304 3.652806,1.51304 z" />
        </g>
    </svg>
</body>
<script>
    const groupOfPathElements = document.getElementsByTagName("path")

    for (var i = 0; i < groupOfPathElements.length; i++) {
        if (groupOfPathElements[i].attributes[0].nodeValue === "star" && groupOfPathElements[i].attributes["id"].nodeValue !== "path2285") {
            groupOfPathElements[i].style.animationName = "pulsating"
            groupOfPathElements[i].style.animationDuration = randomTime(5).toLocaleString() + "s"
            groupOfPathElements[i].style.animationIterationCount = "infinite"
        }
    }

    function randomTime(maxvalue) {
        return Math.round(Math.random() * maxvalue + 3);
    }
</script>